.contents
  .left-contents
    = render 'shared/side_bar'

  .right-contents
    .right-header-contents
      .right-header-contents__name
        text-group
      .right-header-contents__message
        Members: test-user
    .right-header-contents-edit-btn
      Edit
    
    .right-main-contents
      = render @messages

    .right-form-contents
      .form
        = form_for [@group, @message] do |f|
          .input-box
            = f.text_field :content, class: 'input-box__message', placeholder: 'type a message'
            = f.label :image, class: 'input-box__image' do
              = fa_icon 'picture-o'
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'submit-btn'